/* Contact.css */
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00adb5;
}

p {
  font-size: 1rem;
  color: #bdbdbd;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 40px auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.contact-form label {
  font-size: 1rem;
  color: #00adb5;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

.contact-form input[type='submit'] {
  width: 50%;
  background-color: #00adb5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type='submit']:hover {
  background-color: #008a9d;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
